/* Пример глобальных стилей */

/* Определите базовые цвета и шрифты */
:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--text-color: #333;
	--background-color: #f4f4f4;
	--font-family: 'Arial', sans-serif;
  }
  
  /* Основные стили страницы */
  body {
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
  }
  