/* Пример глобальных стилей */

/* Определите базовые цвета и шрифты */
:root {
	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--text-color: #333;
	--background-color: #f4f4f4;
	--font-family: 'Arial', sans-serif;
	
  }
  
  html, body {
	height: 100%;
	margin: 0;
  }
  /* Основные стили страницы */
  body {
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	margin: 0;
	padding: 0;
	 

	background-image: url('https://kalix.club/uploads/posts/2023-12/1702397318_kalix-club-p-fon-mlechnii-put-pinterest-72.jpg');
	background-size: cover; /* Покрытие всего фона */
	background-position: center; /* Центрирование изображения */
	background-repeat: no-repeat; /* Запрещаем повторение изображения */
	 

  }
  